*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 35% auto;
}

header{
    grid-row: 1;
    background-color: #A68160;
    display: flex;
    justify-content: center;
    align-content: center;
}

header nav picture img{
    max-width: 100%;
    height: auto;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group{
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main div h2{
    font-weight: 300;
    font-size: 2rem;
    color: #A68160;
    margin-bottom: 50px;
    text-align: center;
}

.form-group input{
    margin-left: 2rem;
    padding: 15px 100px;
    border: 2px solid #A68160;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 300;
    background-image: url(../images/logo.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 2rem;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-button button{
    padding: 15px 120px;
    background-color: #A68160;
    color: white;
    font-size: 20px;
    border: none;
    font-weight: 300;
    border-radius: 5PX;
    margin-top: 5px;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.appointmentsInput{
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 40%;
}

.divInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #EDE5DD;
    height: 40%;
    margin-top: 10px;
}

.divButtons{
    margin-left: 20px;
}

div h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    color: #A68160;
}

.appointmentsInput div h3{
    color: #A68160;
    font-weight: 400;
    font-size: 1.6rem;
}

.appointmentsInput div h4{
    color: #A68160;
    font-weight: 400;
    font-size: 1.4rem;
}

.appointmentsInput div button{
    padding: 10px 40px;
    background-color: #A68160;
    color: white;
    font-size: 1rem;
    border: none;
    font-weight: 300;
    border-radius: 5PX;
    margin-top: 5px;
    
}


